*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
 }

.font-family{
   font-family: 'Poppins'; 
  }

 .border-behind{
    position: reative;
    
 }

 .bg-img1{
    position: absolute;
    z-index: 2;
 }

 .bg-img2{
    position: absolute;
    z-index: 1;
 }

 .bg-img3{
   position: absolute;
  
}
 .bg-img4{
   position: absolute;
   z-index:1 ;
}
 .header-position{
    position: absolute;
    z-index: 4;
 }

 .section-1-position{
   position: absolute;
   z-index: 3;
}
.mdl{
   margin-top: 0x;
}


@media  (min-width: 890px) and (max-width: 1023px){
.mdl-s-1{
   display: flex;
   row-gap: 8rem ;

  }
  
.mdl-s-2{
   margin-top: 65rem;
  }

.mdl-s-3{
   margin-top: 7rem;
}
.mdl-s-4{
   margin-top:3rem;
}
}

